h1 {
    text-align: center;
    color: black;
    margin-bottom: 30px;
} 

body {
    font-family: Arial, sans-serif;
    background-color: #F8F8F8;
    text-align: center;
    margin: 20px;
}

.product-container {
    border: 2px black;
    display: flex;   
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px;
    margin: 20px;
}

.product-card {
    background-color: white;
    margin: 0 auto;
    padding: 15px;
    border: 2px solid lightgray;
    border-radius: 8px;
    height: 450px;
    width: 500px;
}

p {
    color: dimgray;
    font-size: 14px;
    margin: 10px 0;
}

.price {
    color: #02512e;
    font-weight: bold;
    margin-bottom: 15px;
}

button {
    background-color: rgb(2, 103, 153);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}